@media only screen and (min-width: 1120px) {
  body{
    background-color: lightblue;
  }
}
html {
  height : 100%;
  width : 100%;
}
* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display : flex;
  flex-direction : column;
  align-items : center;
  padding: 5% 15% 15%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  
}
main {
  display : flex;
  flex-direction : column;
  align-items:flex-start;
  padding-top : 2%;
  padding-bottom : 20%;
}
.main {
  font-size : 250%;
  width : 100%;
}
.time {
  font-family : Arial, Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size :300%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight : bold;
}
.day {
  font-size : 50%;
}
.tempSpan, .feelsLikeSpan {
  display: inline;
  font-size : 200%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight : bold;
  
}
.tempHolder, .feelsLikeHolder {
  color : white;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight  : 1000;
  
}
#root{ 
display: flex;
  flex-direction: column;
  background-repeat : no-repeat ;
}
footer {
  color : white;
  position : absolute;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color : black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
